<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>We use <a href="https://mapbox.com">mapbox</a> to find the location coordinates.</p>
            <p>We use <a href="https://darksky.net">darksky</a> to get a weather forecast.</p>
            <p>Source code can be found <a href="https://github.com/Feanor306/node-express-weather-website.git">here</a></p>
            <p>Special thanks to Andrew Mead for his <a href="https://www.udemy.com/share/101WGiCEoZc1hRQX4=/">nodejs course on Udemy.</a></p>
        </div>
        
        {{>footer}}
    </body>
</html>