<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/img/me.jpg" >
            <p>Created by Feanor306.</p>
            <p>We use mapbox.com to find the location coordinates.</p>
            <p>We use darksky.net to get a weather forecast.</p>
        </div>
        
        {{>footer}}
    </body>
</html>