<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>We use <a href="https://mapbox.com">mapbox</a> to find the location coordinates.</p>
            <p>We use <a href="https://darksky.net">darksky</a> to get a weather forecast.</p>
        </div>
        
        {{>footer}}
    </body>
</html>