<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Type your location in the search bar and we will  show you the weather forecast!</p>
            <p>We will attempt to find the closest possible geolocation relevant to the location you typed.</p>
            <p>The first row will display the weather for the next 48 hours for that location.</p>
            <p>The second row will display the weather for the next 7 days for that location.</p>
        </div>
        
        {{>footer}}
    </body>
</html>